<h1>Add your sound!</h1>
<form method='POST' action='/sounds/add'>
  What: <input type='text' name='what'>
  <br>
  Where: <input type='text' name='where'>
  <br>
  Date: <input type='text' name='date'>
  <br>
  Hour: <input type='text' name='hour'>
  <br>
  Description: <input type='text' name='desc'>
  <br>
  <input type='submit'>
</form>
<br>
