<!DOCTYPE html>
<html>
<head>
  <link href="/css/base.css" rel="stylesheet" type="text/css">
  <h1> What was that sound? </h1>
  <ul>
    <li><a href="/"> Home </a></li>
    <li><a href="/sounds/add"> Add </a></li>
    <li><a href="/sounds/mine"> Mine </a></li>
  </ul>
  <br>
  <h1>Filter</h1>
  <form method='GET' action='/filter'>
    What: <input type='text' name='what'>
    <br>
    Where: <input type='text' name='where'>
    <br>
    Date: <input type='text' name='date'>
    <br>
    Hour: <input type='text' name='hour'>
    <br>
    <input type='submit'>
  </form>
  <br>
</head>
<body>
  {{{body}}}
</body>
<footer>
  <h2> Visits this session: </h2>
</footer>
</html>
