<!DOCTYPE html>
<html>
<head>
  <link href="/css/base.css" rel="stylesheet" type="text/css">
  <h1> What was that sound? </h1>
  <ul>
    <li><a href="/"> Home </a></li>
    <li><a href="/sounds/add"> Add </a></li>
    <li><a href="/sounds/mine"> Mine </a></li>
  </ul>
  <br>
</head>
<body>
  {{{body}}}
</body>
<footer>
  <h2> Visits this session: {{viewCount}} </h2>
</footer>
</html>
